* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin-top: 50px;
}
.container {
  width: 960px;
  margin: 0 auto;
}
header {
  display: grid;
  margin: 40px 0 40px 0;
  grid-template-columns: 440px 1fr;
  column-gap: 80px;
  align-items: center;
}
header,
section {
  margin-bottom: 48px;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h2 {
  margin-bottom: 48px;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: 24px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.header-text {
  margin-bottom: 24px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 80px;
}
.features-title {
  margin-bottom: 16px;
  font-weight: bold;
}
.testimonial-box {
  grid-column: 2/-1;
  align-self: center;
}
.testimonial-text {
  margin-bottom: 24px;
}

img {
  width: 100%;
}

.chair-box {
  padding: 24px;
}
.chairs-details {
  margin-bottom: 24px;
  list-style: none;
}
.chairs-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}
li {
  text-align: -webkit-match-parent;
}
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
.chair {
  margin: 0;
}
.chair-price {
  display: flex;
  justify-content: space-between;
}
.chair-details li:last-child {
  margin-bottom: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
